
.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 1em;
    padding-right: 20em;
    padding-left: 20em;
    margin: 20px 0;
    width: 50%;
}

.feature-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature-box h3 {
    color: #4f612a;
    margin: 0;
    margin-top: 1em;
    font-size: 1.5em;
}

.feature-box p {
    margin: 0;
    color: #666;
    margin-bottom: 1em;
    font-size: 1em;
}

