.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.welcome-msg {
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
}

.app-logo-home {
    height: 15em;
    width: auto;
    padding: 0;
}

/* Short description about the website */
.short-desc {
    font-size: 1.4em;
    padding: 0;
    margin: 0;
}

.feature-desc {
    font-size: 0.9em;
}